body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 500;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    background-color: black;
}

h1 {
    color: White;
}

.Spiderverse {
    background-color: gold;
    padding: 20px;
    border-radius: 10px;
}


.Sonic {
    background-color: gold;
    padding: 20px;
    border-radius: 10px;
}

.Penguin{
    background-color: gold;
    padding: 20px;
    border-radius: 10px;
}

.LegoMovie {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.LegoMovie p {
    color: white;
}
.LegoMovie h2 {
    color: white;
}
.Angry{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.Angry p {
    color: white;
}
.Angry h2 {
    color: white;
}


p {
    font-size: 20px;
}